/*from yongky*/
$oncolor : #6dbe45;
$offcolor : #c3c3c3;
/*end*/

.intro{
	background: url(../assets/bg/bg-laundry01.png) no-repeat bottom center scroll;
	object-fit: cover;
	margin-top: 20px;
	padding-top: 50px;
	padding-bottom: 10px;
}
	
	

	/*from yongky */
	hr.off {
    	border-bottom: 5px solid $offcolor;
   		height: 0px;
   		margin-bottom: 5px;
	}
	hr.on {
    	border-bottom: 5px solid $oncolor;
   		height: 0px;
   		margin-bottom: 5px;
	}
	/*end */



